<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Solar System</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style-index.css') }}">
</head>
<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/threex.domevents@1.0.1/threex.domevents.js"></script>
  <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>

  <button id="stopButton" class="stop-button">Stop Animation</button>

 
</body>
</html>
