{% extends 'base.html' %}
{% block title %} Moons {% endblock %}

{% block content %}

<h1>- Moons Data of {{ planet_name }} -</h1>
{% if no_planets_message %}
<p>{{ no_planets_message }}</p>
{% else %}
<p>You see {{ moonsdata|length }} out of {{ num_moons }} moons of  {{ planet_name }} so far known. Information may be incorrect.</p> 
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Diameter (km)</th>
            <th>Distance from the {{ planet_name }} (km)</th>
            <th>Rotation Speed (days)</th>
            <th>Orbit Speed (km/s)</th>
            <th>Description</th>
            <th>History</th>

        </tr>
    </thead>
    <tbody>
        {% for moon in moonsdata %}
            <tr>
                <td>{{ moon[0] }}</td>
                <td>{{ moon[2] }}</td>
                <td>{{ moon[3] }}</td>
                <td>{{ moon[4] }}</td>
                <td>{{ moon[5] }}</td>
                <td>{{ moon[6] }}</td>
                <td>{{ moon[7] }}</td>
                <td>{{ moon[8] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
<div class="buttons-container">
    <a href="/redirect?object={{ planet_name }} " id=backButton" class="button">Back</a>
    <a href="/api" class="button">Home</a>
</div>

<link rel="stylesheet" href="{{ url_for('static', filename='css/moons.css') }}" type="text/css">

{% endblock %}