<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title id="pageTitle">object</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style-object.css') }}">
</head>
<body>
  <div class="main-screen">
    <canvas id="planetCanvas"></canvas>
    <div id="planetInfoContainer"></div>
  </div>

  <div id="planetNameContainer" class="planet-name-container"></div>
  {% for planet in planetsdata %}
  <div class='planet' data-name="{{ planet[0] }}" data-size="{{ planet[4] }}" data-position="{{ planet[5] }}"
      data-rotation-speed="{{ planet[6] }}" data-orbit-speed="{{ planet[7] }}" data-moons="{{ planet[1] }}"
      data-description="{{ planet[2] }}" data-history="{{ planet[3] }}" 
      onclick="sendDataToAPI(this)"
  ></div>
  {% endfor %}

  {% for moon in moonsdata %}
  <div class='moon' data-name="{{ moon[1] }}" data-extends-planet="{{ moon[2] }}" data-size="{{ moon[3] }}"
      data-position="{{ moon[4] }}" data-rotation-speed="{{ moon[5] }}" data-orbit-speed="{{ moon[6] }}"
      data-id-planet="{{ moon[7] }}"
      onclick="sendDataToAPI(this)"
  ></div>
  {% endfor %}
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
  <script type="module" src="{{ url_for('static', filename='js/object-api.js') }}"></script>
  <button id="backButton" class="back-button" type="button">Home</button>

 

</body>
</html>
