<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title id="pageTitle">object</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style-object.css') }}">
</head>
<body>
  <div class="main-screen">
    <canvas id="planetCanvas"></canvas>
    <div id="planetInfoContainer"></div>
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
  <script type="module" src="{{ url_for('static', filename='js/object-api.js') }}"></script>
  <button id="backButton" class="back-button" type="button">Home</button>

 

</body>
</html>
